// min-width: 720px
@import "./colors";

// home
.grid--header {
    grid-template-rows: 15vw 1fr;
}

// Portfolio
.portfolio {
    .container {
        position: relative;
        z-index: 2;
    }
    .box {
        position: relative;
        left: -20%;
        width: 120%;
    }
    .project {
        width: unset;
        margin: 3rem 1rem;
        .description {
            min-width: 11rem;
        }
    }
    @media (min-width: 755px) and (max-width: 880px) {
        .left {
            left: -5%;
        }
        .right {
            right: -5%;
        }
    }
}
