// min-width: 576px
@import "./colors";
.grid {
    grid-template-columns: 15vw 2px 1fr;
}
// home
.grid--header {
    grid-template-rows: 25vw 1fr;
}

// Portfolio
.portfolio {
    .project {
        display: flex;
        justify-content: center;
        width: 100%;
        .description {
            max-width: 15rem;
        }
    }
}
//about
.about .codeLine {
    &:hover {
        &::after {
            left: calc(0px - 2px - 15vw - 1rem);
        }
    }
}
